* {
    margin: 0;
}

/* Banner Section Styles */
.banner-container {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner-text {
    text-align: right;
    padding-top: 200px;
    width: 400px;
    padding-left: 700px;
}

.banner-header {
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 15px;

}

.btn-header {
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: tomato;
    padding: 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

/* previous-year-container styles */

.previous-year-container,
.plans-container,
.call-container {
    margin: 100px 150px 0 150px;
}

.previous-year {
    display: flex;
    align-items: center;
    gap: 60px;
}

.previous-year-text {
    padding-top: 70px;
}

.section-header {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
}

.previous-year-text p {
    padding: 0 0 10px 0;
}

.fa-solid {
    padding-right: 10px;
    color: rgb(86, 84, 238);
}

/* Plans styles */

.plans-header {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-evenly;
}

.plan {
    text-align: center;
}

.plan-header {
    font-size: 32px;
    padding: 15px 0;
}

.plan-text {
    font-weight: 800;
    font-size: 21px;
    color: rgb(100, 99, 99);

}

/* Call Section styles */

.call-container {
    background-image: linear-gradient(to right, rgba(253, 74, 3, 0.76), rgba(160, 150, 157, 0.73)), url(../images/watch.png);
    height: 280px;
    margin-bottom: 90px;
    border-radius: 7px;
}

.call {
    width: 400px;
    padding: 60px 0 40px 80px;
}

.positive-mindset {
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
}

.btn-call-now {
    border-style: none;
    border-radius: 5px;
    color: rgba(253, 74, 3, 0.76);
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
}

/* Footer Section styles */

.footer-container {
    background-color: black;
    height: 450px;
}

.footer {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 110px;

}

.future {
    width: 400px;
}

.footer-head {
    color: white;
    font-size: 40px;
}

.footer-text p {
    color: white;
    padding: 15px 0;
}

.fa-brands {
    background-color: white;
    font-size: 30px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50px;

}

.footer-subscribe {
    color: white;
    padding-bottom: 20px;
}

.input-email {
    width: 300px;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    padding: 15px 0 15px 10px;

}

.btn-subscribe {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(248, 197, 188);
    color: rgba(253, 74, 3, 0.76);
}