* {
    margin: 0;
}

/* Banner Section Styles */
.banner-container {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner-text {
    text-align: right;
    padding-top: 200px;
    width: 400px;
    padding-left: 700px;
}

.banner-header {
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 15px;

}

.btn-header {
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: tomato;
    padding: 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

/* previous-year-container styles */

.previous-year-container {
    margin: 100px 150px;
}

.previous-year {
    display: flex;
    align-items: center;
    gap: 60px;
}

.previous-year-text {
    padding-top: 70px;
}

.section-header {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
}

.previous-year-text p {
    padding: 0 0 10px 0;
}

.fa-solid {
    padding-right: 10px;
    color: rgb(86, 84, 238);
}